[Desktop Entry]
Encoding=UTF-8
Name=Link to typescript - Element implicitly has an 'any' type because expression of type 'string' can't be used to index - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/57086672/element-implicitly-has-an-any-type-because-expression-of-type-string-cant-b
Icon=text-html
